  #game-container {
    display: flex;
  }
    body {
        background-color: black;
        font-family: 'Press Start 2P', cursive;
      }
      
      canvas {
        border: 2px solid white;
        display: block;
        margin: auto;
      }
      
      button {
        background-color: #FFCB05;
        color: black;
        border: none;
        font-size: 0.715rem;
        font-weight: bold;
        padding: 1.1rem;
        margin: 0.5rem;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        box-shadow: 2px 2px 0px rgba(0,0,0,0.5);
        transition: all 0.2s ease-in-out;
        width: 3.65rem;
        justify-content: center;
      }
      
      button:hover {
        background-color: #FFFDE7;
        color: #333;
        transform: translateY(-2px);
        box-shadow: 3px 3px 0px rgba(0,0,0,0.5);
      }
      
      #start-button {
        display: block;
        margin: 0 auto;
        background-color: #28C76F;
        color: white;
        box-shadow: 2px 2px 0px rgba(0,0,0,0.5);
        margin-top: 10rem;
        width: 8rem;
      }
      
      #start-button:hover {
        background-color: #1E9C60;
      }
      .btn-container .btn-up,
      .btn-container .btn-down {
        display: block;
        margin: 0 auto;
        background-color: #EA5455;
        color: white;
      }
      .btn-container .btn-left,
      .btn-container .btn-right {
        display: inline-block;
        background-color: #EA5455;
        color: white;
      }
      .btn-container .btn-right {
        margin-left: 2.2rem;
      }
      /* #up-button, #down-button, #left-button, #right-button {
        background-color: #EA5455;
        color: white;
      } */
      
      #up-button:hover, #down-button:hover, #left-button:hover, #right-button:hover {
        background-color: #D83A56;
      }
      
      .btn-container {
        display: inline-block;
        width: 12rem;
        padding-top: 3.5rem;
      }
      
      #button-container button {
       
      }
      
      